<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="BusinessCardController">
  <head>
    <title>{{ user. name }} | Business Card</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <nav id="header" class="navbar navbar-default" role="navigation">
     <div id="header_left" class="navbar-brand" title="Angular Card Generator">
       ACG Angular Card Generator
     </div>
   </nav>

   <div class="wrapper">
     <div class="panel-group" id="accordion1">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
               <i class="fa fa-user fa-fw"></i>Full Name
             </a>
           </h4>
         </div>
         <div id="collapseOne" class="panel-collapse collapse in">
           <div class="panel-body">
             Full Name: <input type="text" ng-model="user.name" placeholder="Full Name" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
               <i class="fa fa-star fa-fw"></i>Occupation
             </a>
           </h4>
         </div>
         <div id="collapseTwo" class="panel-collapse collapse">
           <div class="panel-body">
             Occupation: <input type="text" ng-model="user.occupation" placeholder="Occupation" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
               <i class="fa fa-comment fa-fw"></i>Email</a>
             </a>
           </h4>
         </div>
         <div id="collapseThree" class="panel-collapse collapse">
           <div class="panel-body">
             Email: <input type="text" ng-model="user.email" placeholder="Email-ID" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
               <i class="fa fa-hand-o-right fa-fw"></i>Personal Link 1
             </a>
           </h4>
         </div>
         <div id="collapseFour" class="panel-collapse collapse">
           <div class="panel-body">
             http://<input type="text" ng-model="user.link1" placeholder="Personal Link-1" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
               <i class="fa fa-hand-o-right fa-fw"></i>Personal Link 2
             </a>
           </h4>
         </div>
         <div id="collapseFive" class="panel-collapse collapse">
           <div class="panel-body">
             http://<input type="text" ng-model="user.link2" placeholder="Personal Link-2" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
               <i class="fa fa-picture-o fa-fw"></i>Company Logo
             </a>
           </h4>
         </div>
         <div id="collapseSix" class="panel-collapse collapse">
           <div class="panel-body">
             http://<input type="text" ng-model="user.companylogo" placeholder="Company Logo URL" />
           </div>
         </div>
       </div>
     </div>

     <div class="card" style="background: -webkit-linear-gradient(top, {{ user.color1 }} , {{ user.color2 }});
                              background: -o-linear-gradient(top,{{ user.color1 }}, {{ user.color2 }});
                              background: -moz-linear-gradient(top,{{ user.color1 }}, {{ user.color2 }});
                              background: linear-gradient(top,{{ user.color1 }}, {{ user.color2 }});
                              color:{{ user.textcolor1 }};">

       <img ng-src="{{ user.companylogo }}" class="logo">

       <div class="details">
         <h1>{{ user.name }}</h1>
         <h2 style="color:{{ user.textcolor2 }};">{{ user.occupation }}</h2>

         <hr>

         <p style="color:{{ user.textcolor2 }};">
           <a ng-href="mailto:{{ user.email }}">{{ user.email }}</a>
         </p>

         <p style="color:{{ user.textcolor2 }};">
           <a ng-href="http://{{ user.link1 }}">{{ user.link1 }}</a>
         </p>

         <p style="color:{{ user.textcolor2 }};">
           <a ng-href="http://{{ user.link2 }}">{{ user.link2 }}</a>
         </p>

         <div class="social">
           <span class="twitter" style="color:{{ user.textcolor1 }};">
             <a ng-href="https://www.twitter.com/{{ user.tusername }}" title="@{{ user.tusername }}">
               <i class="fa fa-twitter fa-fw"></i>
             </a>
             <span class="twitter-handle" ng-show="!user.fusername && !user.gusername">
               @{{user.tusername}}
             </span>
           </span>

           <span class="facebook" style="color:{{ user.textcolor1 }};" ng-if="user.fusername">
             <a ng-href="https://www.facebook.com/{{ user.fusername }}" title="{{ user.name }} on Facebook" >
               <i class="fa fa-facebook fa-fw"></i>
             </a>
           </span>
           <span class="gplus" style="color:{{ user.textcolor1 }};" ng-if="user.gusername">
             <a ng-href="https://www.google.com/{{ user.gusername }}" title="{{ user.name }} on Google+">
               <i class="fa fa-google-plus fa-fw"></i>
             </a>
           </span>
         </div>
       </div>
     </div>

     <div class="panel-group" id="accordion2">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
               <i class="fa fa-qrcode fa-fw"></i>Card Gradient Color
             </a>
           </h4>
         </div>
         <div id="collapseSeven" class="panel-collapse collapse in">
           <div class="panel-body">
             From: <input type="color" ng-model="user.color1" placeholder="Card Color1" />&nbsp;
             To: <input type="color" ng-model="user.color2" placeholder="Card Color2" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
               <i class="fa fa-angle-right fa-fw"></i>Text Color 1
             </a>
           </h4>
         </div>
         <div id="collapseEight" class="panel-collapse collapse">
           <div class="panel-body">
             Text-Color 1: <input type="color" ng-model="user.textcolor1" placeholder="Text-Color 1" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
               <i class="fa fa-angle-right fa-fw"></i>Text Color 2
             </a>
           </h4>
         </div>
         <div id="collapseNine" class="panel-collapse collapse">
           <div class="panel-body">
             Text-Color 2: <input type="color" ng-model="user.textcolor2" placeholder="Text-Color 2" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
               <i class="fa fa-twitter fa-fw"></i>Twitter
             </a>
           </h4>
         </div>
         <div id="collapseTen" class="panel-collapse collapse">
           <div class="panel-body">
             twitter.com/<input type="text" ng-model="user.tusername" placeholder="Twitter Username" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
               <i class="fa fa-facebook fa-fw"></i>Facebook
             </a>
           </h4>
         </div>
         <div id="collapseEleven" class="panel-collapse collapse">
           <div class="panel-body">
             facebook.com/<input type="text" ng-model="user.fusername" placeholder="Facebook Profile" />
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwelve">
               <i class="fa fa-google-plus fa-fw"></i>Google+
             </a>
           </h4>
         </div>
         <div id="collapseTwelve" class="panel-collapse collapse">
           <div class="panel-body">
             google.com/<input type="text" ng-model="user.gusername" placeholder="Google+ Profile" />
           </div>
         </div>
       </div>
     </div>
   </div>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script>
        'use strict';
        angular.module('myApp', [])
        .controller('BusinessCardController', function($scope){
          $scope.user = {
            name: 'Samurai Jack',
            occupation: 'Samurai',
            email: 'jack@example.com',
            link1: 'www.samuraijack.org',
            tusername:'samurai1337',
            companylogo: 'http://pm1.narvii.com/6014/849e84ef863008ceafa3fbcc989507c24dc1283e_128.jpg',
            color1: '#c0c0c0',
            color2: 'white',
            textcolor1: '#287cc2',
            textcolor2: '#666',
            fusername:'samuraijack',
            gusername:'+SamuaraiJack1337'
          }
        });
      </script>

  </body>
</html>
